<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo Tag Page</title>
  </head>
  <body>
    <a href="https://google.com">Search Something? </a>
    <h1></h1>
    <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/539632_188858661238372_1149692366_n.jpg?oh=64a81fbb3f1a9af237923dc25731aaf1&oe=5A3F226E" alt="My school <3" width="250" height="400">
    <div style="color:#0000FF">
        <h3>Div demo</h3>
    </div>
    <h1> Break <br> this line </h1>
    <table>
      <tr>
        <th>Month</th>
        <th>Savings</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
    </table>
    <ul>
      <li>Shitpost</li>
      <li>Ul && li demo </li>
    </ul>
  </body>
</html>
